header{
  background-color: bisque;
  margin: auto;
  padding: auto;
  display: flex;
  justify-content: space-between;
}
.login-div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0px 30px 0px 0px;
  width: 600px;
}

.div-global{
  width: 90%;
  height: 100%;
  margin:auto;
  display: block;
  justify-content: center;
}
.div-form{
  display: grid;
  flex: 50%;
  float: left;
  justify-content: space-between;
  padding: 15px;
  
}

.cadastro{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center ;
  font-size: 14px;
  width: 40%;
  border-radius: 10px;
  border-color: #3f00b5;
  border-style: solid;
  border-width: 4px;
  height: 100%;
  padding: 20px;
  background-color: rgba(133, 240, 186, 0.295);
}


input{
  border-radius: 4px;
  margin: auto;
  
}
.div-cadastro{
  width: 80%;
  height:100%;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 20px;
 
}
.std-div{
  width: 80%;
  display: block;
  
  margin: auto;
}

.confirmar-cadastro{
  width: 300px;
  height: 40px;
  margin-left: 50px;
  margin-top: 15px;
  background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
 background-size: 800% 400%;
 /* padding: 1em 2em; */
 display: inline-block;
 border-width: 2px;
 border-color: #3f00b5;
 border-radius: 10px;
 font-size: 15px;
 font-weight: 600;
 color: white;
 transition: all .5s ease-in-out;
 animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
.confirmar-cadastro:hover {
  animation: gradient 3s infinite;
  transform: scale(1.05);
 }
 
.confirmar-cadastro:active {
  animation: gradient 1s infinite;
  transform: scale(0.8);
 }
 
 @keyframes gradient {
  0% {
   background-position: 0% 50%;
  }
 
  50% {
   background-position: 100% 50%;
  }
 
  100% {
   background-position: 0% 50%;
  }
 }